{% load static %}
{% load bootstrap5 %}
{% load compress %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Load CSS and JavaScript #}



{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>   
<html lang="en">   
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}"> 
{% endcompress %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" >
            <div class="container"> 
                <a class="navbar-brand"  href="{% url 'home' %}">Jikan</a>              
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto"> 
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>  
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'authentication:signout' %}">Siqn Out</a></li> 
                        <li class="nav-item"><a class="nav-link" aria-current="page">{{request.user.username}}</a></li> 
                        {% else %}  
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'authentication:signin' %}">Siqn In</a></li>  
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'authentication:register' %}">Register</a></li>  
                        {% endif %}  
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="text-center mt-5"> 
                {% block content %} 
               
                {% endblock %}
            </div>
        </div>
    </body>
</html> 
<script>
 
</script> 